@tailwind base;
@tailwind components;
@tailwind utilities;

.ant-popover-inner {
  padding: 0 !important;
}

/* .StripeElement {
  display: block;
  box-sizing: border-box;
  height: 40px;
  padding: 10px 12px;
  font-size: 16px;
  line-height: 1.4;
  border-radius: 4px;
  background-color: #fff;
  border: 1px solid #ced4da;
}

.StripeElement--focused {
  border-color: #309fbf;
}

.StripeElement--invalid {
  border-color: #dc3545;
} */

/* :root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
} */

/* @media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
} */

/* body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
} */