@tailwind base;
@tailwind components;
@tailwind utilities;


@import url("https://fonts.googleapis.com/css2?family=Poppins&family=Rubik&display=swap");

html {
  line-height: 1.5;
  -webkit-text-size-adjust: 100%;
  tab-size: 4;
  font-feature-settings: normal;
  font-variation-settings: normal;
}

.suggestions {
  /* Position the suggestions below the input */
  @apply absolute top-full left-0 bg-white shadow-md rounded-md max-h-60 overflow-y-auto hidden;
}

.suggestions li {
  /* Style each suggestion list item */
  @apply p-2 hover:bg-gray-100;
}

.ant-popover-inner {
  padding: 0 !important;
}

.custom-carousel {
  width: 100%;
  margin: 0 auto;
}

.image-container {
  display: flex;
  justify-content: center;
  height: 100%;
  max-height: 65vh;
}

.carousel-image {
  object-fit: cover;
}

.maintain {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  max-width: 200px;
  /* Adjust as needed */
}

.hidden-scroll {
  transform: translateY(-100%);
  transition: transform 0.3s ease-in-out;
}

.show-scroll {
  transform: translateY(0);
}

/* .StripeElement {
  display: block;
  box-sizing: border-box;
  height: 40px;
  padding: 10px 12px;
  font-size: 16px;
  line-height: 1.4;
  border-radius: 4px;
  background-color: #fff;
  border: 1px solid #ced4da;
}

.StripeElement--focused {
  border-color: #309fbf;
}

.StripeElement--invalid {
  border-color: #dc3545;
} */

/* :root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
} */

/* @media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
} */

/* body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
} */